.App {
  padding: 20px;
}

.ui.inverted.menu .item>a:not(.ui) {
  color: rgba(0,0,0,.87)!important
}

.container-mod {
  margin-top: 6em;
  margin-bottom: 6em;
}

.vote-score-wrap {
  margin: 15px 0;
}
